* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    align-items: center;
    background-color: darkslateblue;
    height: 80px;
    width: 100%;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.first-logo {
    padding-left: 30px;
}

.menu-icon {
    margin-right: 30px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    display: none;
}

@media only screen and (max-width:700px) {
    .menu-icon {
        display: inline-block;
        width: 50px;
    }

    nav ul {
        position: absolute;
        left: 0;
        width: 100%;
        height: 0px;
        top: 80px;
        background: linear-gradient(to right, pink, darkslateblue);
    }

    nav ul li {
        display: block;
        margin-right: 10px;
        padding: 5px 0px;
        display: none;
    }
}